/* Color Theme Swatches in Hex */
.Grey { color: #616657; }
.Beige { color: #F7FEEA; }
.Light-Green { color: #D9E6C3; }
.Forest-Green { color: #566638; }
.Matt-Green { color: #A9B398; }

* {
    box-sizing:border-box;
    background-color: #616657;
    color: #F7FEEA;
    font-family: sans-serif;
}

body {
    max-width: 800px;
    margin: 0 auto;
}

main {
    display:flex;
    align-items:center;
    flex-direction:column;
}

#menu {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#contents-all {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button {
    margin: 8px;
    border-radius: 5px;
    text-align:center;
    font-weight:750;
    text-transform:uppercase;
    background-color:#D9E6C3;
    color:#566638;
}

button:disabled {
    background-color: #616657;
    color: #D9E6C3;
}

#collect {
    width: 300px;
    height: 300px;
    background-image: url(./Images/flower.png);
    background-size: cover;
    color: #D9E6C3;
    text-align: bottom;
    text-shadow: -1px -1px 0 #566638, 1px -1px 0 #566638, 1px 1px 0 #566638,
    1px 1px 0 #566638;
    font-size: 20px;
}

hr {
    margin-top: 16px;
}

h1 {
    width: 800px;
    text-align:center;
}

/*IMAGES*/
.inventory-image {
    width: 50px;
    height: 50px;
    background-size: cover;
    margin-right: 16px;

    /*MAKE INVENTORY IMAGES NEATER*/
}

.start-image {
    display: block;
    margin: auto;
    max-width: 300px;
    max-height: 300px;
}